<form ngNativeValidate (ngSubmit)="onSave()">
<div
  class="grid grid-cols-1 items-center gap-4 md:grid-cols-7 auto-cols-min my-3 border-[1px] border-gray-200 rounded-sm px-2 py-4 hover:bg-secondary/50"
>
  <div class="col-span-2 flex items-center">
    <img class="mx-2 rounded-full bg-blue-500" src="assets/images/person-icon.png" width="40" height="40" alt="User icon" />
    <div [ngClass]="!editMode ? 'break-words md:truncate':''" class="ml-2 flex flex-col">
      <h3>Name</h3>
      <p *ngIf="!editMode" class="break-words md:truncate font-bold">{{ contact && contact.name || ''}}</p>
      <input 
        id="fullname" 
        required 
        [(ngModel)]="editContact.fullname" 
        class="w-full text-sm pl-2 py-1.5 font-bold" 
        *ngIf="editMode" 
        type="text" 
        name="fullname" 
        #fullname="ngModel"
        [ngClass]="fullname.invalid && (fullname.dirty || fullname.touched) ? 'focus:outline-none border-2 border-red-500':''"
        />
      </div>
    </div>
    <div class="col-span-2">
      <h3>Address</h3>
      <p *ngIf="!editMode" class="break-words md:truncate font-bold">{{ contact && contact.address || '' }}</p>
      <input
      id="address" 
      required 
      [(ngModel)]="editContact.address" 
      class="w-full text-sm pl-2 py-1.5 font-bold" 
      *ngIf="editMode" 
      name="address"
      type="text" 
      #address="ngModel"
      [ngClass]="address.invalid && (address.dirty || address.touched) ? 'focus:outline-none border-2 border-red-500':''"
      />
    </div>
  <div>
    <h3 class="block">Phone</h3>
    <p *ngIf="!editMode" class="truncate font-bold">{{ contact && contact.phone || '' }}</p>
    <input 
      id="phone" 
      required 
      [(ngModel)]="editContact.phone" 
      class="w-full text-sm pl-2 py-1.5 font-bold"
      *ngIf="editMode" 
      type="text" 
      name="phone"
      #phone="ngModel"
      [ngClass]="phone.invalid && (phone.dirty || phone.touched) ? 'focus:outline-none border-2 border-red-500':''"
    />
  </div>
  <!-- last grid -->
  <div>
    <h3>Email</h3>
    <p *ngIf="!editMode" class="truncate text-justify font-bold">{{ contact && contact.email || ''}}</p>
    <input 
      id="email" 
      required 
      [(ngModel)]="editContact.email" 
      class="w-full text-sm pl-2 py-1.5 font-bold" 
      *ngIf="editMode" 
      type="email" 
      name="email" 
      #email="ngModel"
      [ngClass]="email.invalid && (email.dirty || email.touched) ? 'focus:outline-none border-2 border-red-500':''"
    />
  </div>
    <!-- actions buttons -->
  <div class="justify-self-start md:justify-self-end">
    <div class="flex items-center space-x-2 underline">
      <button *ngIf="!editMode" aria-label="Edit contact" 
        disabled="{{editContactId}}"
        (click)="onEdit(contact)">
        Edit
      </button> 
      <button *ngIf="editMode" aria-label="Save contact">
        Save
      </button>
      <button type="button" class="mr-2" aria-label="Delete contact"
        disabled="{{editContactId}}"
        (click)="onToggleModal(contact._id)" 
      >
        Remove
      </button>
    </div>
  </div>
</div>
</form>