<section>
  <div class="flex justify-end">
    <contact-list-modal (modalFn)="deleteContact($event)"></contact-list-modal>
    <contact-list-button options="hover:bg-secondary" text="+ Add Contact" (btnClick)="toggleAddContact()"></contact-list-button>
  </div>
  <contact-list-add-contact (addContactFn)="addContact($event)"></contact-list-add-contact>
  <div class="rounded-sm shadow-md px-3 py-6 mt-4 bg-white">
    <contact-list-contact
    *ngFor="let contact of contacts"
    [contact]="contact"
    (saveContactFn)="editContact($event)"
    ></contact-list-contact>
  </div>
</section>
