<form *ngIf="showAddContact" ngNativeValidate (ngSubmit)="onSubmit()">
<div class="my-2 flex flex-col space-y-2 md:flex-row items-center md:space-x-2 md:space-y-0">
    <input
      class="rounded-sm text-sm px-4 py-1.5 peer peer-invalid:border-2 peer-invalid:border-red-400"
      type="text"
      name="name"
      required
      [(ngModel)]="name"
      id="name"
      placeholder="Name"
    />
    <input
      class="rounded-sm text-sm px-4 py-1.5"
      type="text"
      name="address"
      required
      [(ngModel)]="address"
      id="address"
      placeholder="Address"
    />
    <input
      class="rounded-sm text-sm px-4 py-1.5"
      type="text"
      required
      name="phone"
      [(ngModel)]="phone"
      id="phone"
      placeholder="Phone"
    />
    <input
      class="rounded-sm text-sm px-4 py-1.5"
      type="email"
      name="email"
      required
      [(ngModel)]="email"
      id="email"
      placeholder="Email"
    />
  <div class="flex space-x-2 shrink-0">
    <contact-list-iconbutton type="submit" image="check.svg" alt="Save contact" ></contact-list-iconbutton>
    <contact-list-iconbutton image="close.svg" alt="Close add contact form" (btnClick)="toggleAddContact()"></contact-list-iconbutton>
  </div>
</div>
</form>